* {
  line-height: 1.5;
}
html {
  background-color: #e5e5e5;
}
.cover {
  background-image: url(./midia/pineapple.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body {
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
h1 {
  text-shadow: 1px 1px black;
  text-align: center;
}
p {
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin-top: 15px;
  color: black;
}

button,
input {
  margin: 15px;
  display: flex;
  border-radius: 30px;
}

.title {
  background-size: cover;
  box-shadow: 2px black;
  color: #ffbc42;
}

.present {
  background-color: #fcefb4;
}
.past {
  background-color: #fcd5ce;
}
.future {
  background-color: #d8e2dc;
}
