* {
  line-height: 1.5;
}
html {
  background-color: #efe9ae;
}
.cover {
  background-image: url(./midia/pineapple.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body {
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
h1 {
  text-shadow: 1px 1px black;
  text-align: center;
}
p {
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin-top: 15px;
  color: black;
}

button,
input {
  margin: 15px;
  display: flex;
  border-radius: 30px;
}
.saveButton,
.deleteButton {
  height: 3.5em;
  border-radius: 30px;
  padding: 7px;
  margin: auto;
}
.title {
  background-size: cover;
  box-shadow: 2px black;
  color: #ffbc42;
}
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 20px;
  padding: 5px;
}
.present {
  background-color: #fcefb4;
}
.past {
  background-color: #f73c3d;
}
.future {
  background-color: #aaf683;
}

